
.view-app-home .views-row {
    display: flex;
    align-items: stretch;
}

.view-app-home .views-row-even>div:first-child {
    order: 2;
}

.view-app-home img.img-responsive {
    width: 100%;
}

.view-app-home .views-field.views-field-field-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
}

.raja .view-content > div:nth-child(3):not(:last-child) .main-wrapper {
    border-right: 1px solid #e41b23;
}